* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.icon {
  width: 24px;
  height: 24px;
}

.link {
  color: white;
  text-decoration: none;
}

.chat-screen {
  height: 100%;
}

.rejister-form {
  border-radius: 10px;
}

.bg-color1 {
  background-color: #55939e;
}

.bg-color2 {
  background-color: #051419;
}

.bg-color3 {
  background-color: #bff0f8cf;
}

.bg-color4 {
  background-color: #213d4e;
}

.btn-signup, .btn-signup:hover {
  background-color: #213d4e;
  color: white;
}

.btn-logout {
  background-color: #467788;
  border: none;
  outline: none;
  color: white;
  border-radius: 2px;
  padding: 0.1rem 0.4rem;
  margin-left: 1rem;
  font-size: 14px;
}

.message-screen {
  height: 85vh;
}

.toggle-btn {
  border: none;
  outline: none;
  padding: 0.2rem 0.6rem;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.toggle-img {
  margin-right: 0.6rem;
  width: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #051419;
  padding: 0.6rem 0.8rem;
  color: white;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
}

.btn-search {
  padding: 0rem 0.6rem;
  border: none;
  outline: none;
  background-color: #55939e;
  border-radius: 4px;
}

.chat-image {
  width: 55px;
  height: 50px;
  border-radius: 50%;
  margin: 0.2rem 0.2rem;
  padding: 0.2rem;
  object-fit: cover;
}

.search-input {
  background-color: transparent;
  border: none !important;
  border-bottom: 1px solid #55939e !important ;
  outline: none !important;
  color: white;
}

.search-input::placeholder {
  color: white;
}

.search-input:focus {
  background-color: transparent;
  border: none !important;
  border-bottom: 1px solid #55939e !important ;
  outline: none !important;
  color: white;
}

.user-search:hover {
  background-color: #051419;
}

.header {
  background-color: #17464f;
  padding: 10px 10px;
}

.chat-window {
  height: 69vh;
  background-color: #f0e7bdde;
  padding: 1rem;
  overflow-y: scroll;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 50px;
  padding: 0.2rem 3rem 0.4rem 1rem;
}

.input input[type=text] {
  outline: none;
  border: none;
  color: black;
}

.send-btn {
  background-color: #17464f;
  padding: 0.3rem 1rem;
  color: white;
  border: none;
  outline: none;
}

.message{
  display: flex;
  gap: 0.8rem;
}

.message-info {
  display: flex;
  flex-direction: column;
  color: grey;
  font-size: 0.8rem;
  font-weight: 500;
  gap: 0.2rem;
}

.message-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-Content img {
  width: 50%;
  border-radius: 10px;
}


.message.owner{
  display: flex;
  flex-direction: row-reverse;
  gap: 0.8rem;
}

.message-Content.owner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-Content p {
  background-color: white;
  color: #17464f;
  border-radius: 10px 0px 10px 10px;
  padding: 0.4rem 0.8rem;
  width: max-content;
  font-weight: 500;
}

.message-Content.owner p {
  background-color: #17464f;
  color: white;
  border-radius: 10px 0px 10px 10px;
  padding: 0.4rem 0.8rem;
  width: max-content;
}

.lastMessage {
  color: rgb(242, 226, 226);
}

